.active{
color: white;
font-size: 18px;
font-weight: 700;
padding: 0 10px;
border-bottom: 2px solid lightyellow;
margin-right: 25px;
}


.inactive{
    color: rgb(186, 186, 173);
    font-size: 18px;
    font-weight: 700;
    padding: 0 10px;
    border-bottom: 2px solid rgb(133, 133, 130);
    margin-right: 10px;
}


